//https://gist.github.com/brianmcallister/2932463
@mixin square($ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "$ratio must be a list with two values.";
  }

  $width: 100%;
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));
  
  width: $width;
  height: 0;
  padding-bottom: $height;
}

h1 {
    
    color: $wkkv-green;
    text-transform: uppercase;
    margin-bottom: 0;

    @include breakpoint(small only){ 
        margin-bottom: 40px;
        text-align: center;
        writing-mode: horizontal-tb;
        font-size: 2em;
    }

    @include breakpoint(medium){ 
      font-size: 2em;

      -ms-writing-mode: tb-rl; 
      -webkit-writing-mode: vertical-rl;
      -moz-writing-mode: vertical-rl;
      -ms-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
      
      -ms-transform: rotate(180deg); 
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    @include breakpoint(large){ 
      font-size: 3em;
    }

}

.front-page {

  background-color: $wkkv-green;
  

	.main-content {
    margin-top: 40px;
    color: $white;

    
  }

  .main-wrap {
    background-color: $wkkv-green;
    padding: 80px 0;
    margin-top: 0;
  }

	article {
		width: 100%;
		padding: 15px;
		border: 2px solid $white;
		border-radius: 5px;
	}
}

.logo-text-wrapper {

  display: flex;
  height: 100%;

  .logo-text {
    align-self: flex-end;

  }
  
}


.calendar-wrap {

    .calendar-content {
    color: $dark-gray;
    }

    .events-border {
    border: 2px solid $wkkv-green;
    border-radius: 5px;
  }
}

.offer-wrap {
    padding: 0 0 40px;

    @include breakpoint(medium){
         margin-left: rem-calc(20);       
    }    

    .img {
        background-repeat:no-repeat;
        background-size: cover;
		

        .boxColor {
            @include square();
            background-size:     45%;     
            background-repeat:   no-repeat;
            background-position: center;
			transition: background-color 0.5s ease-in-out;

            &-blue {
                @extend .boxColor;
                background-color: $mkkv-blue;
                transform: rotate(180deg);
                &:hover {
                     background-color: transparentize($mkkv-blue, .3);;
                }
            }

            &-yellow {
                @extend .boxColor;
                background-color: $mkkv-yellow;
                &:hover {
                     background-color: transparentize($mkkv-yellow, .3);
                }
            }

            &-red {
                @extend .boxColor;
                background-color: $mkkv-red;
                transform: rotate(180deg);
				
                &:hover {
                     background-color: transparentize($mkkv-red, .3);
                }
            }

            &-grey {
                @extend .boxColor;
                background-color: $mkkv-grey;
				@include breakpoint(large){
                    transform: rotate(270deg);
                }
                &:hover {
					 background-color: transparentize($mkkv-grey, .3);
                }
            }

        }

    }
 
    .boxLink {
        @include square();
        background-size:     90%;                    
        background-repeat:   no-repeat;
        background-position: center;

        &-blue {
            @extend .boxLink;
            @include breakpoint(small only){
                background-color: $mkkv-blue;
                margin-bottom: 40px;
            }
        }

        &-yellow {
            @extend .boxLink;
            @include breakpoint(small only){
                background-color: $mkkv-yellow;
                margin-bottom: 40px;
            }
        }

        &-red {
            @extend .boxLink;
            @include breakpoint(small only){
                background-color: $mkkv-red;
                margin-bottom: 40px;
            }
        }

        &-grey {
            @extend .boxLink;
            @include breakpoint(small only){
                background-color: $mkkv-grey;
                margin-bottom: 40px;
            }
        }
    }
}

.map-wrap {
}


.front-page-element {
  margin-bottom: 100px;
}
