//https://gist.github.com/brianmcallister/2932463
@mixin square($ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "$ratio must be a list with two values.";
  }

  $width: 100%;
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));
  
  width: $width;
  height: 0;
  padding-bottom: $height;
}

<<<<<<< HEAD
h1.sideways {
=======
@mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
}

//https://gist.github.com/pavlvs/5641702
@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

@mixin writingMode($mode) {
	-webkit-writing-mode: $mode;
	-moz-writing-mode: $mode;
	-ms-writing-mode: $mode;
	writing-mode: $mode;
}

h1 {
>>>>>>> 67897a19b63c7044a689d1689c85ee33c7f35fc6
    
    color: $wkkv-green;
    text-transform: uppercase;
    margin-bottom: 0;

    @include breakpoint(small only){ 
        margin-bottom: 40px;
        text-align: center;
        @include writingMode(horizontal-tb);
        font-size: 2em;
    }

    @include breakpoint(medium){ 
      font-size: 2em;
      @include writingMode(vertical-rl);
	  @include rotate(180deg);
    }

    @include breakpoint(large){ 
      font-size: 3em;
    }

}

.front-page {

  background-color: $wkkv-green;
  

	.main-content {
    margin-top: 40px;
    color: $white;

    
  }

  .main-wrap {
    background-color: $wkkv-green;
    padding: 80px 0;
    margin-top: 0;
  }

	article {
		width: 100%;
		padding: 15px;
		border: 2px solid $white;
		border-radius: 5px;
	}
}

.logo-text-wrapper {

  display: flex;
  height: 100%;

  .logo-text {
    align-self: flex-end;

  }
  
}


.calendar-wrap {

    .calendar-content {
    color: $dark-gray;
    }

    .events-border {
    border: 2px solid $wkkv-green;
    border-radius: 5px;
  }
}

.offer-wrap {
    padding: 0 0 40px;

    /*
    @include breakpoint(medium){
         margin-left: rem-calc(20);       
    }  */  

    .grid-img {
        background-repeat:no-repeat;
        background-size: cover;

        background-image: url('../../assets/images/wkkv/grid_image-default.jpg');

        &-1 {
          //background-image: url('../../assets/images/wkkv/grid_image-1.jpg');
        }
        &-2 {
          //background-image: url('../../assets/images/wkkv/grid_image-2.jpg');
        }
        &-3 {
          //background-image: url('../../assets/images/wkkv/grid_image-3.jpg');
        }
        &-4 {
          //background-image: url('../../assets/images/wkkv/grid_image-4.jpg');
        }
		

        .boxColor {
            @include square();
            background-size:     45%;     
            background-repeat:   no-repeat;
            background-position: center;
            background-image: url('../../assets/images/wkkv/arrow.svg');

      			@include transition(background-color, 0.5s, ease-in-out);
            
            &-blue {
                @extend .boxColor;
                background-color: $mkkv-blue;
                @include rotate(180deg);
                &:hover {
                     background-color: transparentize($mkkv-blue, .3);;
                }
            }

            &-yellow {
                @extend .boxColor;
                background-color: $mkkv-yellow;
                &:hover {
                     background-color: transparentize($mkkv-yellow, .3);
                }
            }

            &-red {
                @extend .boxColor;
                background-color: $mkkv-red;
                @include rotate(180deg);
				
                &:hover {
                     background-color: transparentize($mkkv-red, .3);
                }
            }

            &-grey {
                @extend .boxColor;
                background-color: $mkkv-grey;
				@include breakpoint(large){
                    @include rotate(270deg);
                }
                &:hover {
					 background-color: transparentize($mkkv-grey, .3);
                }
            }

        }

    }
 
    .boxLink {
        @include square();
        background-size:     90%;                    
        background-repeat:   no-repeat;
        background-position: center;

        &-blue {
            @extend .boxLink;
            @include breakpoint(small only){
                background-color: $mkkv-blue;
                margin-bottom: 40px;
                background-image: url('../../assets/images/wkkv/boxlink-blue_w.svg');
            }
            @include breakpoint(medium){ 
                background-image: url('../../assets/images/wkkv/boxlink-blue.svg');
            }
            
        }

        &-yellow {
            @extend .boxLink;
            @include breakpoint(small only){
                background-color: $mkkv-yellow;
                margin-bottom: 40px;
                background-image: url('../../assets/images/wkkv/boxlink-yellow_w.svg');
            }
            @include breakpoint(medium){ 
                background-image: url('../../assets/images/wkkv/boxlink-yellow.svg');
            }
        }

        &-red {
            @extend .boxLink;
            @include breakpoint(small only){
                background-color: $mkkv-red;
                margin-bottom: 40px;
                background-image: url('../../assets/images/wkkv/boxlink-red_w.svg');
            }
            @include breakpoint(medium){ 
                background-image: url('../../assets/images/wkkv/boxlink-red.svg');
            }
        }

        &-grey {
            @extend .boxLink;
            @include breakpoint(small only){
                background-color: $mkkv-grey;
                margin-bottom: 40px;
                background-image: url('../../assets/images/wkkv/boxlink-grey_w.svg');
            }
            @include breakpoint(medium){ 
                background-image: url('../../assets/images/wkkv/boxlink-grey.svg');
            }

        }
    }
}

.map-wrap {
}


.front-page-element {
  margin-bottom: 100px;
}
