
.site-header {

	position: absolute;
	top: 0; left: 0;
	width: 100%;
	background: $white;

	.title-bar {
		background-color: $wkkv-green !important;
		button {
			color: $white;
		}
	}

	.top-bar,
	.title-bar {
		background-color: $white;
		* {
			background-color: inherit !important;
		}

		.hamburger-menu {
			padding: 5px;
			font-size: 1.5em;
		}
	}

	.top-bar {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;

		width: 100%;

		.top-bar-title {
			padding: 1.5rem 0.7rem;
		}
	}

	.top-bar::before {
		content: none;
		display: inline-block;
	}

	.top-bar::after {
		content: none; 

	}

}

.main-wrap {
	padding-top: 80px;
}




