$bgcolor: #F3F8F5;
$lineHeight: 200px;

.event-container {
  position: relative;
  margin: 0%;
  margin-bottom: 1em;
  margin-left: 1%;
  border: 0px solid $wkkv-green;
  border-left:10px solid $wkkv-green;

  }
 .event-content{
	color: $wkkv-green;
	padding-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
	padding-bottom: 1.5em;
 }
 .middle{
   height: $lineHeight;
   background-color: $bgcolor;
    padding-bottom: 1.5em;
   @include breakpoint(medium only){
                background-color: $bgcolor;
                padding-bottom: 1.5em;
  }
 }
 .date{
   @include breakpoint(small only){
              font-size: .8em;
  }
  @include breakpoint(medium only){
             font-size: .9em;
 }
 }

 .event-list-date{
	padding-top:5%;
	/*color: $wkkv-green;*/
	line-height: 1.5em;
 }

 .event-list-text{
	color: $wkkv-green;
 }

.list-bg{
  position: absloute;
  background-color: $bgcolor;
}


.list-event-image{
  padding:0em;
  height: $lineHeight;
  background-color: $bgcolor;
  -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
   filter: grayscale(10%);
}
.pic{

	clip: rect(0px 300px 300px 0px);
	overflow: hidden;
  width: 200px;
  height: 200px;
 }

 .head{
   padding:5em;
 }
